/* body {
    background-image: url('https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/GAF%20Radcliffe%20Square%20Dawn%20-%20Elizabeth%20Nyikos.jpg?itok=lMOJNcd9');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
} */

.landingContainer {
    height: 700px;
    width: 85%;
    max-width: 1200px;
    margin: 150px auto;
    background-color: thistle;
    display: flex;
    border-radius: 15px;
}

.landingBox {
    flex-basis: 100%;
    text-align: center;
}

.landingHeading {
    font-size: 45px;
    font-family: 'Muli', sans-serif;
}

