.main {
  width: 80%;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 18px #becac450;
  margin: 35px;
  border-color: black;
}

.name {
  font-size: 27px;
  margin: 6px 0;
}

.requirements {
  font-size: 20px;
  margin: 6px 0;
}
