.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  transition: all 0.75s;
}

.false {
  background-color: rgba(0, 0, 0, 0.466);
  display: block;
}

.true {
  background-color: rgba(0, 0, 0, 0);
  display: none;
}