.navbar {
  height: 60px;
  width: 100%;
  background: linear-gradient(270deg, #bda7ff, #26c2ff);
  background-size: 400% 400%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: AnimationName 5s ease infinite;
  margin-bottom: 25px;
}

.navbar-header {
  font-size: 21px;
  color: white;
  margin-left: 5px;
}

.navbar-button {
  height: 38px;
  background-color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
  border-radius: 6px;
  padding: 2px 12px;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  color: rgb(20, 20, 20);
}

.navbarMain {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.navbar-button:hover {
  box-shadow: 2px 2px 15px rgba(68, 68, 68, 0.37);
}

.dropbtn {
  height: 38px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 6px;
}

.dropbtn:hover {
  box-shadow: 2px 2px 15px rgba(68, 68, 68, 0.37);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 6px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}