.switcherMain {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 1000px;
  height: 75px;
  margin: 0 auto;
  text-align: center;
}

.switcherSwitch {
  border-bottom: 1px solid rgba(102, 102, 102);
  opacity: 0.4;
  width: 125px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.35s;
}

.switcherSwitch:hover {
  opacity: 1;
}